section.intro
  .flex.flex--center
    .col-2
      .home-branding
        .logo
          img(src="/assets/img/homelogo.png", alt="")
        .cds
          .border-box
            h2 A CREATIVE DESIGN STUDIO
          .spheres
            h3.spheres interiors, graphics, websites, branding
        .socialmedia
          img(src="/assets/img/pinterest-logo-white.png", alt="")
          img(src="/assets/img/facebook-logo-white.png", alt="")
          img(src="/assets/img/email-logo-white.png", alt="")
        
      
